html
  head
    title Dragon Ball API
    link(rel="stylesheet" href="/css/styles.css")
    script(src="/javascript/interactions.js")

  body
    h2 Greetings Warrior, Welcome to the Dragon Ball API
    div(class="main-container")

      include partials/leftSideInfo.pug

      include partials/rightSideInfo.pug
